#arrow-icon {
    font-size: 55px;
    color: #dee2e6;
    width: 79px;       /* Adjust width */
    display: inline-block; /* Ensures width is applied */
    text-align: center; /* Optional: centers the icon inside the span */
   
}


#custom-breadcrumbs {
    display: flex;
    align-items: center;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 0.875rem;
    color: white;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 4px;
}

.breadcrumb-wrapper {
    display: flex;       /* Horizontal Flexbox */
    align-items: center; /* Vertically center items */
    flex-wrap: nowrap;   /* Prevent wrapping to next line */
    overflow-x: auto;    /* Enable horizontal scroll if necessary */
  }

.breadcrumb-link {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    transition: text-decoration 0.1s ease-in-out;
    display: flex; /* For vertical alignment */
    align-items: center; /* Vertical alignment */
}

.breadcrumb-link:hover {
    text-decoration: underline;
}

.breadcrumb-separator {
    margin: 0 8px;
    color: inherit;
}

.breadcrumb-current {
    font-weight: 500;
    display: flex; /* For vertical alignment */
    align-items: center; /* Vertical alignment */
}

/* ===== Search Bar Styles ===== */
#searchBarContainer {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 10px;
  right: 20px;
  padding: '20px';
  z-index: 1000;
}

.search-bar {
  display: flex;
  align-items: center;
  border: 1px solid #666;
  border-radius: 15px;
  padding: 5px 6px;
  background: rgba(0, 0, 0, 0.41);
  position: relative;
  max-width: 100%;
  margin-top: 8px;
}


.search-icon {
  color: rgba(0, 0, 0, 0.64);
  margin-right: 5px;
}

.input-wrapper {
  background: rgb(0 0 0 / 57%);
              border: none;
              outline: none;
         
          
              flex: 1;
              border-radius: 15px;
              padding: 12px;
              padding-right: 30px; /* Leave space for icon */


    
      
              color: rgba(182, 171, 171, 0.712); 
              font-size: 10px;
}

#clearIcon{
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: white;
  font-size: 18px;
}
/* ===== Responsive Styles ===== */
@media (max-width: 768px) {
  #custom-breadcrumbs {
    top: 10px;
    left: 10px;
    font-size: 0.75rem;
    padding: 6px;
    max-width: 80%;
    flex-wrap: wrap;
  }

  #searchBarContainer {
    top: 100px;
    right: 10px;
    left: 10px;
    justify-content: flex-end;
  }

  .search-bar {
    flex: 1;
    padding: 4px;
    left: 0;
    margin-left: 10px; /* Optional: add some breathing room */
    margin-right: 10px;
  }

  #searchBox {
    font-size: 10px;
    padding: 8px 10px 8px 10px;
  }

  .clear-icon {
    font-size: 16px;
  }
}

/* MUI-like styling */
.mui-breadcrumb-root {
    display: flex;
    align-items: center;
}

.mui-breadcrumb-link {
    color: white;
    text-decoration: none;
    display: flex; /* For vertical alignment */
    align-items: center; /* Vertical alignment */
}

.mui-breadcrumb-link:hover {
    text-decoration: underline;
}

.mui-breadcrumb-separator {
    margin: 0 8px;
    color: rgba(255, 255, 255, 0.7);
}

.mui-breadcrumb-current {
    font-weight: 500;
    color: rgba(255, 255, 255, 0.87); /* Primary text color */
    display: flex; /* For vertical alignment */
    align-items: center; /* Vertical alignment */
}

.mui-breadcrumb-icon {
    margin-right: 8px; /* Spacing for the icon */
    font-size: 1.2rem; /* Adjust icon size as needed */
}




#toggle-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 9999;
    padding: 9px;
  }
  
  #toggle-icon {
    font-size: 60px; /* Make it BIGGER */
    color: #dee2e6;
   
    line-height: 1;
  }
  
  .time-toggle {

    position: fixed;
    bottom: 100px;
    right: 20px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 9999;
    padding: 4px;
    border-radius: 10px;
   
  }
  
  .time-toggle .label {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, color 0.3s;
    color: #333333;
  }

  .toggle-option {
    padding: 8px 16px;
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 8px;
    background:rgb(0 0 0 / 45%);
    transition: background-color 0.3s, color 0.3s;

  }
  
  .time-toggle .active {
    background: rgb(0 0 0 / 82%);
    color: white;
  }
  .toggle-option .material-icons {
    font-size: 20px;             /* Smaller icon */
  }

  #zoomInBtn{
    position: fixed;
    bottom: 185px;
    right: 40px;
    width: 32px;
    height: 32px;
    font-size: 18px;
    border-radius: 50%;
    border: none;
    background-color: rgb(0 0 0 / 41%);
    color: white;
    cursor: pointer;
    z-index: 9999;
    margin-bottom: 5px;
  }

  #zoomOutBtn {
    position: fixed;
    bottom: 227px;
    right: 40px;
    width: 32px;
    height: 32px;
    font-size: 18px;
    border-radius: 50%;
    border: none;
    background-color:rgb(0 0 0 / 41%);
    color: white;
    cursor: pointer;
    z-index: 9999;
    margin-bottom: 5px;
  }
  
  #fullScreenBtn {
    position: fixed;
    bottom: 270px;
    right: 40px;
    width: 32px;
    height: 32px;
    font-size: 18px;
    border-radius: 50%;
    border: none;
    background-color:rgb(0 0 0 / 41%);
    color: white;
    cursor: pointer;
    z-index: 9999;
    margin-bottom: 5px;        /* Ensure it's above all other elements */
  }




  input::placeholder {
    color: rgb(190, 186, 186)
  }
 
  /* Modal Overlay */
  .modal-overlay {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    animation: fadeIn 0.3s ease-in-out;
  }

  /* Modal Box */
  .modal-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(0 0 0 / 59%);
    padding: 30px;
    width: 300px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
  }

  .modal-box h2 {
    margin-bottom: 10px;
    color: #dee2e6e6;
  }

  .modal-box p {
    margin-bottom: 20px;
    color: #dee2e6;
  }

  .modal-box button {
    padding: 4px 17px;
    background-color: hsla(240, 7%, 62%, 1);
    color: white;
    border: none;
    border-radius: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .modal-box button:hover {
    background-color: rgba(151, 151, 165, 0.575);
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
  
  /* Show cross icon on mobile, hide on desktop */
@media (max-width: 768px) {
  
  .close-button {
    display: none !important;
  }
  .extra-details {
    display: none;
  }
  .show-details-button {
    display: inline-block !important;
  }

  .card-header {
    border-bottom: none !important;
  }
  .card-title {
    display: none !important;
  }
  
  #zoomOutBtn,
  #zoomInBtn {
    display: none !important;
  }
}

/* On desktop, show full close button, hide icon */
@media (min-width: 769px) {
  .close-icon {
    display: none !important;
  }
 

  
}
