.info-box {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px 14px;
  border-radius: 8px;
  width: 190px;
  font-family: Arial, sans-serif;
  font-size: 12px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  line-height: 1.4;
  position: fixed; /* If used with hotspots */
  z-index: 9999;
}

.info-title {
  font-weight: bold;
  font-size: 13px;
  margin-bottom: 4px;
}

.info-sub {
  font-size: 12px;
  margin-bottom: 4px;
}

.info-duration {
  display: inline-block;
  background-color: #413939;
  padding: 2px 6px;
  border: 1px solid white;
  border-radius: 10px;
  font-size: 11px;
  margin-bottom: 6px;
  color: white;
}

.info-footer {
 
  padding-top: 6px;
  font-size: 11px;
  opacity: 0.8;
}

.dots-column {
  display: flex;
  flex-direction: column;

  margin-right: 10px;
  align-self: stretch; /* Stretch to match height of content */
  padding: 4px 0;
  margin-top: 20px;
}

.dot {
  width: 5px;
  height: 5px;
  background: white;
  border-radius: 50%;
  margin: 4px 0;
}

.info-content-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.info-text {
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* .dots-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
}

.dot {
  width: 4px;
  height: 4px;
  background: white;
  border-radius: 50%;
  margin: 4px 0;
} */
