.normal-view-toggle {
  display: flex;
  flex-direction: row;     /* put text + icon side by side */
  align-items: center;     /* align vertically in middle */
  gap: 10px;               /* space between text and icon */
  background: rgb(0 0 0 / 45%);
  padding: 8px 12px;       /* optional: add spacing */
  border-radius: 6px;      /* optional: rounded background */
  height : 50px;
}

.normal-view-toggle span {
   display: inline-block; 
  font-size: 16px;
  font-weight: 500;
  color: #fff; /* adjust based on bg */
      margin-left: 14px;
   
}

.normal-view-toggle button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 28px;
  
}



.toggleLabel{
    cursor: pointer;
    margin-top: 5px  !important;
}





/* Landscape mode: horizontal scroll */
@media screen and (orientation: landscape) {
  .image-scroll {
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
  }
}

/* Portrait mode: vertical scroll */
@media screen and (orientation: portrait) {
  .image-scroll {
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
  }
}

/* Modal (fullscreen background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 100000;
 top: 5%;
  left: 10%;
  width: 78%;
  height: 95%;
  overflow: hidden;
  /* background-color: rgba(0, 0, 0, 0.9); */
}
.modal img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* keeps aspect ratio */
  display: block;
}

/* Modal content (fullscreen container for krpano) */

.modal-content {
  position: relative;
  margin: auto;
  display: block;
  width: 100%;
  
}

/* Close button */


.modalClose {
  position: absolute;
   top: 3%;
  right: 2%;
 
  
  z-index: 10000;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;

  border-radius: 6px;
  background: rgb(0 0 0 / 55%);
  color: white;
  width: 40px;
  height: 40px; /* optional: make it square */
  text-align: center; /* keeps × centered inside */
  line-height: 40px;  /* vertically centers × */
  

}

/* Landscape mode (tablets/mobiles turned sideways) */
/* @media screen and (orientation: landscape) {
  .modal {
    height: 58%;
    top: 15%;
    bottom: 0;
    width: 60%;
    left: 20%;
  }
} */

/* Tablets and below (portrait only) */
@media (max-width: 1024px) and (orientation: portrait) {
  .modal {
   height: 20%;
   top: 30%;
   bottom: 0;
   left: 12%
  }
  .modalClose {
  position: absolute;
   top: 3%;
  right: 10%;
 
  
  z-index: 10000;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;

  border-radius: 6px;
  background: rgb(0 0 0 / 55%);
  color: white;
  width: 40px;
  height: 40px; /* optional: make it square */
  text-align: center; /* keeps × centered inside */
  line-height: 40px;  /* vertically centers × */
  


}
}

/* Tablets and below (portrait only) */
@media (max-width: 1024px) and (orientation: landscape) {
  
  .modalClose {
  position: absolute;
   top: 3%;
  right: 10%;
 
  
  z-index: 10000;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;

  border-radius: 6px;
  background: rgb(0 0 0 / 55%);
  color: white;
  width: 40px;
  height: 40px; /* optional: make it square */
  text-align: center; /* keeps × centered inside */
  line-height: 40px;  /* vertically centers × */
  


}
}
/* Mobile only (portrait only) */
@media (max-width: 768px) and (orientation: portrait) {
  .modal {
   height: 20%;
        top: 30%;
        bottom: 0;
        
   left: 12%
  }
  .modalClose {
  position: absolute;
   top: 3%;
  right: 12%;
 
  
  z-index: 10000;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;

  border-radius: 6px;
  background: rgb(0 0 0 / 55%);
  color: white;
  width: 40px;
  height: 40px; /* optional: make it square */
  text-align: center; /* keeps × centered inside */
  line-height: 40px;  /* vertically centers × */
  

}
}

